/* .Photos {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1200px;
} */

.photos-wrapper {
  padding: 3rem;
  display: grid;
  max-height: 400px;
  grid-template-columns: repeat(auto-fit, 230px);
  column-gap: 2rem;
  row-gap: 2rem;
  max-width: 1200px;
}

.example-image {
  width: 200px;
  height: 200px;
  object-fit: cover;
}
