.Search {
  height: 100vh;
  width: 100%;
  max-width: 1400px;
  background-size: cover;
  margin: 0 auto;
  display: flex;
  justify-content: flex-start;
  gap: 10vw;
}

.Search::after {
  content: "";
  height: 100vh;
  width: 100%;
  background-image: url(../images/dictionary.jpg);
  opacity: 0.7;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

.search-form {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.search-input {
  padding: 5px;
  border: none;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.7);
  border-radius: 5px;
}

.submit-button {
  padding: 6px;
  border: none;
  border-radius: 5px;
  background-color: rgb(34, 34, 34);
  color: white;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.7);
  cursor: pointer;
}

.submit-button:active {
  box-shadow: none;
  position: relative;
  top: 2px;
}
